[Desktop Entry]
Version=1.0
Type=Application
Name=BleachBit
Comment=Free space and maintain privacy
Comment[ru]=Освобождение дискового пространства и обслуживание конфиденциальности
GenericName=Unnecessary file cleaner
GenericName[ru]=Очистка от ненужных файлов
TryExec=bleachbit
Exec=sh -c "bleachbit & su-to-root -X -c bleachbit"
Icon=bleachbit
Categories=GTK;System;
Keywords=clean;performances;free;privacy;
StartupNotify=true
Name[ru]=BleachBit
X-GNOME-FullName[ru]=BleachBit
NoDisplay=false
Path=
Terminal=false
